.result {
	background-color: #e5edf5;
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.snippet {
	background-color: #e5edf5;
	justify-content: left;
	text-align: left;
	color: #333333;
	padding: 10px;
	border-radius: 3px;
}

.topics {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	justify-content: left;
	padding: 10px;
	color: #efefef;
	background-color: #1d465d;
}

.topic {
	margin-right: 10px;
	font-weight: bold;
}

.debug {
	display: flex;
	justify-content: left;
	color: #efefef;
}

p span
{
    display: block;
}

a {
	color: #000;
	display: flex;
	background-color: #e5edf5;
	border-radius: 4px;
	margin-top: 20px;
	padding: 10px;
}

a:visited {
	color: #000;
}
