.result {
	display: flex;
	justify-content: left;
}

a {
	color: #000;
	display: flex;
	background-color: #e5edf5;
	border-radius: 4px;
	margin-top: 20px;
	padding: 10px;
}

a:visited {
	color: #fff;
}
